.manage-schedule-container{

    .m-s-title{
        text-transform: uppercase;
        margin: 15px 0 15px 0;
        font-weight: 600;
        font-size: 17px;
        text-align: center;
    }
    .pick-hour-container{
     
        padding-top: 20px;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        margin:  20px 0;
        
        button{
            padding: 10px 15px;
            font-weight: 550;
           
           background: #fff8ae;
           
           &:hover{
            text-decoration: none;
            background: #45c3d2;
            color: #fff;
            cursor: pointer;
           }
           &.active{
            background: #45c3d2;
            color: #fff;
           }
        }

    }
   
}