.short-des-1{
    
    color: #3c763d;
    background-color: #dff0d8;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    margin-bottom: 10px;
    border: 1px solid #c6d9e9;
    .text{
        margin-left: 20px;
    }
    .icon{
        color: orange;
        font-size: 18px;
    }
}