.verify-email-container{
    padding-top: 60px;

    .infor-booking{
        text-transform: uppercase;
        font-size: 24px;
        color: red;
        text-align: center;
        font-weight: 600;
        margin-top: 30px;
    }
}